:root {
	--brightOrange: hsl(31, 77%, 52%);
	--darkCyan: hsl(184, 100%, 22%);
	--veryDarkCyan: hsl(179, 100%, 13%);
	--transparentWhite: hsla(0, 0%, 100%, 0.75);
	--veryLightGray: hsl(0, 0%, 95%);
}
/*Fonts
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

body {
	font-size: 15px;
	background-color: var(--veryLightGray);
}
div {
	top: 200px;
	bottom: 200px;
	left: 200px;
	right: 200px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10%;
	height: 20%;
	width: 50%;
}
div .Sedan {
	background-color: var(--brightOrange);
	flex-direction: column;
	border-radius: 15px 0 0 15px;
}
div .SUVs {
	background-color: var(--darkCyan);
	flex-direction: column;
}
div .Luxury {
	background-color: var(--veryDarkCyan);
	flex-direction: column;
	border-radius: 0 15px 15px 0;
}
img {
	padding-bottom: 20px;
	padding-right: 130px;
}

h2 {
	color: var(--veryLightGray);
	font-family: Big Shoulders Display, cursive;
	font-size: 25px;
	padding-top: 10px;
	width: 200px;
}
p {
	color: var(--transparentWhite);
	font-family: Lexend Deca, sans-serif;
	padding-bottom: 10px;
	width: 200px;
}
button {
	background-color: var(--veryLightGray);
	border-radius: 30px;
	border-color: var(--veryLightGray);
	height: 40px;
	width: 160px;
	padding: 10px 10px 10px 10px;
	margin-top: 70px;
	font-size: 13px;
	border: 0;
	align-self: flex-start;
}
.Sedanbuttonfont {
	color: var(--brightOrange);
}
.SUVsbuttonfont {
	color: var(--darkCyan);
}
.Luxurybuttonfont {
	color: var(--veryDarkCyan);
}

@media (max-width: 671px) {
	div {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10%;
		height: auto;
		width: auto;
	}
	div .Sedan {
		background-color: var(--brightOrange);
		flex-direction: column;
		border-radius: 15px 15px 0 0;
	}
	div .SUVs {
		background-color: var(--darkCyan);
		flex-direction: column;
	}
	div .Luxury {
		background-color: var(--veryDarkCyan);
		flex-direction: column;
		border-radius: 0 0 15px 15px;
	}
	img {
		padding-top: 20px;
		padding-right: 130px;
	}
	h2 {
		color: var(--veryLightGray);
		font-family: Big Shoulders Display, cursive;
		font-size: 40px;
		width: 200px;
	}
	p {
		color: var(--transparentWhite);
		font-family: Lexend Deca, sans-serif;
		padding-bottom: 10px;
		width: 200px;
	}
	button {
		background-color: var(--veryLightGray);
		border-radius: 30px;
		border-color: var(--veryLightGray);
		height: 40px;
		width: 160px;
		padding: 10px 10px 10px 10px;
		margin-top: 5px;
		font-size: 13px;
		border: 0;
		align-self: flex-start;
	}
}
